# Slack Bot Token (xoxb-...)  →  OAuth & Permissions > Bot Token
SLACK_BOT_TOKEN=xoxb-216573788133-10797976524560-KOMAFWmDYvVaYyItOicLsk7i

# Slack App Token (xapp-...)  →  Basic Information > App-Level Tokens
SLACK_APP_TOKEN=xapp-1-A0AN66CQF5M-10773278210388-5633fc0c004f89c3680e3f509b8fc067e5e6a6a4d434dd951ee2b668f894aa65

# HubSpot Private App Token  →  Settings > Integrations > Private Apps
HUBSPOT_API_KEY=53580e8a-bb92-4f14-9874-337ebd0bc35b
